body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, sans-serif;
}
.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar p {
    font-size: 14px;
    color: #555;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar nav ul li a:hover {
    color: #007bff;
}

.main-content {
    flex: 1;
    padding: 20px;
}
.dashboard-cards {
    display: flex;
    gap: 20px;
}
.card {
    padding: 50px;
    border-radius: 5px;
    flex: 10;
    text-align: left;
    color: white;
    font-size: 150%;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.new-orders {
     background-color: #a68ad1;
     }
.sales {
     background-color: #77bfa3; 
    }
.revenue {
     background-color: #f4a261;
     }
.section {
    margin-top: 70px;
}
.new-orders:hover{
    background-color: #8c6bbe;
}
.sales:hover{
    background-color: #5ea389;
}
.revenue:hover{
    background-color: #c58551;
}