
/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, 
        #FADDE1, 
        #FFC4D6, 
        #FFA6C1, 
        #FF87AB, 
        #FF5D8F 70%, /* Center color */
        #FF97B7, 
        #FFACC5, 
        #FFCAD4, 
        #F4ACB7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Container for centering */
.container {
    text-align: center;
    margin-bottom: 30;
}

/* Logo Styling */
img {
    width: 100;
    height: 100;
}

/* Sign-up box */
.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
    width: 300%;


}

/* Heading style */
h2{
    font-family: "Georgia", serif;
    color: #fdd348;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}


.maincontent {
    background: white;
    padding:  50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 350px;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ebdfdf;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #f072db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    max-width: 500px;

    
}
input[type="submit"]:hover {
    background-color: #ce5bbb;
}