
/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, 
        #FADDE1, 
        #FFC4D6, 
        #FFA6C1, 
        #FF87AB, 
        #FF5D8F 70%, /* Center color */
        #FF97B7, 
        #FFACC5, 
        #FFCAD4, 
        #F4ACB7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Container for centering */
.container {
    text-align: center;
    margin-bottom: 30;
}

/* Logo Styling */
img {
    width: 100;
    height: 100;
}

/* Sign-up box */
.login-box {
    background: #37d618;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 300%;
    position: relative;


}

/* Heading style */
h2 {
    font-family: "Georgia", serif;
    color: #fdd348;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}


.maincontent {
    background: white;
    padding:  50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;

}
label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
    margin-bottom: 10px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ebdfdf;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #e0a1f0;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    max-width: 500px; /* Fixed the typo */
    width: 100%; /* Ensures the button expands within its container */
    display: inline-block; /* Helps with proper button rendering */
    text-align: center; /* Centers text */
    text-decoration: none; /* Removes underline */
}
    
input[type="submit"]:hover {
    background-color: #eb549f;
}
.loginbtn {
    background-color: #e0a1f0;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    max-width: 450px; /* Fixed the typo */
    width: 95%; /* Ensures the button expands within its container */
    display: inline-block; /* Helps with proper button rendering */
    text-align: center; /* Centers text */
    text-decoration: none; /* Removes underline */
}

.loginbtn:hover {
    background-color: #eb549f;
}
